<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>AddOri2</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

      <!--header class="page-header wrapper">
      <span class="nav_toggle">
        <i></i>
        <i></i>
        <i></i>
      </span>
          <nav class="nav">
           <ul class="nav_menu_ul">
            <li><a href="nav_menu_li"><a href="#">RECORD</a></li>
            <li><a href="nav_menu_li"><a href="#">NEW ITEM</a></li>
            <li><a href="nav_menu_li"><a href="#">FAVORITE</a></li>
            <li><a href="nav_menu_li"><a href="#">SEARCH</a></li>
          </ul>
        </nav>
      </header-->

      <header>
        <div class="hamburger-menu">
          <input type="checkbox" id="menu-btn-check">
          <label for="menu-btn-check" class="menu-btn"><span></span></label>
          <!--ここからメニュー-->
          <div class="menu-content">
            <ul>
                <li>
                    <a href="#">RECORD</a>
                </li>
                <li>
                    <a href="#">NEW ITEM</a>
                </li>
                <li>
                    <a href="#">FAVORITE</a>
                </li>
                <li>
                    <a href="#">SEARCH</a>
                </li>
            </ul>
          </div>
        <!--ここまでメニュー-->
        </div>

      <div class="big-bg">
        <img src="images/book5.png" class="image" alt="sample">
        <!--div class="top-title">
          <h2>Welcome <span class="red">into</span> the book</h2>
        </div-->
      </div>
  </body>  
</html>
