<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>AddOri2</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <div id="home" class="big-bg">
      <header class="page-wheader wrapper">

        <div class="hamburger-menu">
          <input type="checkbox" id="menu-btn-check">
          <label for="menu-btn-check" class="menu-btn"><span></span></label>
          <div class="menu-content">
            <ul>
                <li><a href="index.html">TOP</a></li>
                <li><a href="show.html">RECORD</a></li>
                <%= link_to "RECORD", items_path %>
                <li><a href="new.html">NEW ITEM</a></li>
                <%= link_to 'f', "/items/favorite", method: :get %>
                <li><a href="favorite.html">FAVORITE</a></li>
                <li><a href="search.html">SEARCH</a></li>
            </ul>
          </div>
        </div>
      </header>
      <img src="images/book5.png" class="big-bg" alt="sample">
      <div class="home-content wrapper">
        <h2 class="page-title">Welcome <span class="red">into</span> The books</h2>
      </div>
    </div>
  </body>  
</html>
